<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <link rel="stylesheet" href="../static/stylesheets/styles.css">
        <script type="text/javascript" src="./script.js"></script>
    </head>

    <body>

        
        <h2 class='pack_details_per'>Fragile</h1>
        <p class='med-to'>Does my package contain fragile items?</p>

        <div class="yes_no_per">
            <button type="button" class='yes2' onclick="change_button('yes2', 'no2')">
                <p>Yes</p>
            </button>
            <button type="button" class='no2' onclick="change_button('no2', 'yes2')">
                <p>No</p>
            </button>
        </div>

        <div class='bottom'>
            <a href='./track.html'>
                <button type="button" class='back' >
                    <p>Back</p>
                </button>
            </a>

            <div class='dot-group'>
                <span class="dot-per"></span>
                <span class="dot-per"></span>
                <span class="dot-per"></span>
                <span class="dot-per"></span>
                <span class="dot-per"></span>
                <span class="dot-per" style="background-color:#B58F68;"></span>
                <span class="dot-per"></span>
            </div>
            <a href='./per_package_cart.html'>
                <button type="button" class='next' onclick="end()">
                    <p>Next</p>
                </button>
            </a>
        </div>


    </body>
</html>