<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>

    <link rel="stylesheet" href="../static/stylesheets/styles.css">
    <script type="text/javascript" src="./script.js"></script>
</head>

<body>
    <h1 id="home">Search & Ship</h1>
    <p>I am shipping for...</p>

    <div class="button-group">
            <button type="button" onclick="set_type('personal')">Personal</button>
            <button type="button" onclick="set_type('bus')">Business</button>

    </div>
    <p>reasons</p>

</body>

</html>