<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
        <link rel="stylesheet" href="../static/stylesheets/styles.css">
        <script type="text/javascript" src="./script.js"></script>
    </head>

    <body>

        <button type="button" class="next" style="position: absolute; top: 1%; right: 0.5%; height: 7%; text-align: left;" onclick="swap_units()">
        <p id="unit-btn">Imperial Units</p>
    </button>

        <h1 class='pack_details_per'>Package Details</h1>
        <p>The dimensions of the package I want to ship is</p>

        <img class='hwl' id="hwl" src="../static/assets/hwl.png" alt="envelop">

        <div class='package-form'>
            <form>
                <input type="number" id="length" name="length" placeholder="length (in)" class="pack-in">
                <input type="number" id="width" name="width" placeholder="width (in)" class="pack-in">
                <input type="number" id="height" name="height" placeholder="height (in)" class="pack-in">
                <input type="number" id="weight" name="weight" placeholder="weight (lb)" class="pack-in">
            </form>
        </div>

		<div style="text-align:center; margin: 10%; margin-left: 32%;">
		<button type="button" class='use-prev-button' onclick="previous_bus_pack()">
			<p>Use Previous Package Details</p>
		</button>
		<p id="error1"></p>
		</div>

        <div class='bottom'>
            <a href='./home.html'>
                <button type="button" class='back' >
                    <p>Back</p>
                </button>
            </a>

            <div class='dot-group'>
                <span class="dot-bus" style="background-color:#B58F68;"></span>
                <span class="dot-bus"></span>
                <span class="dot-bus"></span>
                <span class="dot-bus"></span>
                <span class="dot-bus"></span>
            </div>
            <button type="button" class='next' onclick="bus_package_detail()">
                <p>Next</p>
            </button>

        </div>


    </body>
</html>