<!DOCTYPE html>
<html>

<head>
    <title>Carrier Select</title>
    <link rel="stylesheet" href="../static/stylesheets/styles.css">
    <script type="text/javascript" src="./script.js"></script>
</head>

<body>
    <div class"header">
    	<button type="button" class="homepage" onclick="back_carrier()" style="position: absolute;right: 8%;">
            <p>Back</p>
        </button>
        <h3>Reviews</h3>
    </div>
	<div id="carrier-body">
		<table id="tableheader" class="carrier-list" style="width:90%;">
			<thead>
			</thead>
			<tbody>
			    <tr><td>My Package was safely delivered <img src="../static/assets/5stars_dark.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
			<tbody>
			    <tr><td>Delivery was fast, if there is tracking it will be bttter <img src="../static/assets/4stars_light.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
			<tbody>
				<tr><td>I can not track my package and now I do not know where it is <img src="../static/assets/2stars_dark.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
			<tbody>
			    <tr><td>My package got devilvered safe. Thank you <img src="../static/assets/3stars_light.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
			<tbody>
			    <tr><td>Delivery was fast, if there is tracking it will be bttter <img src="../static/assets/4stars_dark.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
			<tbody>
				<tr><td>Shipping price is too expensive for their service <img src="../static/assets/1stars_light.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
			<tbody>
			    <tr><td>Shipping price is high but still no tracking option <img src="../static/assets/2stars_dark.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
			<tbody>
			    <tr><td>I had normal experience with this carrier. <img src="../static/assets/3stars_light.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
			<tbody>
				<tr><td>It is ok to use but I will move on to the others since they don't have tracking option <img src="../static/assets/3stars_dark.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
		</table>
	</div>

</body>

</html>