<!DOCTYPE html>
<html>

<head>
    <title>Carrier Select</title>
    <link rel="stylesheet" href="../static/stylesheets/styles.css">
    <script type="text/javascript" src="./script.js"></script>
</head>

<body>
    <div class"header">
    	<button type="button" class="homepage" onclick="back_carrier()" style="position: absolute;right: 8%;">
            <p>Back</p>
        </button>
        <h3>Reviews</h3>
    </div>
	<div id="carrier-body">
		<table id="tableheader" class="carrier-list" style="width:90%;">
			<thead>
			</thead>
			<tbody>
			    <tr><td>My Package was delivered very fast <img src="../static/assets/5stars_dark.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
			<tbody>
			    <tr><td>Delivery was fast, if there is tracking it will be bttter <img src="../static/assets/4stars_light.png" style="vertical-align: middle;width:200px;height:38px""></td></tr>
			</tbody>
			<tbody>
				<tr><td>My package got delivered on expected date <img src="../static/assets/4stars_dark.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
			<tbody>
				<tr><td>They just left a package infront of my door <img src="../static/assets/1stars_light.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
			<tbody>
				<tr><td>They don't offer instore pickup or tracking <img src="../static/assets/2stars_dark.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
			<tbody>
				<tr><td>It is normal carrier to use, there isn't anything special. <img src="../static/assets/3stars_light.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
			<tbody>
				<tr><td>Their support team is very rude, never give them a call <img src="../static/assets/2stars_dark.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
			<tbody>
				<tr><td>My experience was normal <img src="../static/assets/3stars_light.png" style="vertical-align: middle;width:200px;height:38px"></td></tr>
			</tbody>
		</table>
	</div>

</body>

</html>